body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #181d31;
  margin: 0;
  padding: 0;
  text-align: center;
}

.box {
  padding: 16px;
  max-width: 500px;
  margin-left: 33%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181d31;
  gap: 8px;
  border-radius: 32px;
}

img {
  height: 300px;
  width: 240px;
  border-radius: 25px;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  padding: 1rem 1rem;
  vertical-align: middle;
}

.cols {
  background-color: #0a2647;
  color: #0081b4;
  font-size: 4rem;
  font-family: "Hina Mincho", serif;
}
.bar {
  border: none;
  border-radius: 50px;
  height: 30px;
  background-color: rgb(150, 148, 148);
}

.btn {
  border-radius: 100px;
  background-color: #0081b4;
  padding: 6px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%);
  cursor: pointer;
}
.bar::placeholder {
  color: black;
  text-align: center;
}
